@import "tailwindcss";

/* Style personnalisé pour afficher les listes avec des tirets */
.prose ul {
  list-style-type: none;
  padding-left: 0;
}

.prose ul > li {
  position: relative;
  padding-left: 1.5em;
}

.prose ul > li::before {
  content: "–";
  position: absolute;
  left: 0;
  font-weight: 600;
  color: #6366f1; /* indigo-500 */
}